@model IEnumerable<RESTAPI.Models.BookCategotiesViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Category.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category.DateOfCreating)
        </th>
        <th>Books</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Category.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category.DateOfCreating)
        </td>
        <td>
            @if (item.CategoryBooks.Count() > 0)
            {
                foreach (var categorybook in item.CategoryBooks)
                {
                    <p>@categorybook.Book.Name, @categorybook.Book.Author</p>
                }
            }
            else
            {
                <p>[Unknown]</p>
            }
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Category.CategoryId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Category.CategoryId })
        </td>
    </tr>
}

</table>
