@model IEnumerable<RESTAPI.Models.CategoryBooksViewModel>
<style>
    .modal {
        display:none;
    }

</style>
@{
    ViewBag.Title = "Index";
}
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Book.ISBN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Book.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Book.Author)
        </th>
        <th>Category</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Book.ISBN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Book.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Book.Author)
        </td>
        <td>
            @if (item.CategoryBooks.Count() > 0)
            {
                foreach (var categoryBook in item.CategoryBooks)
                {
                    <p>@categoryBook.Category.Name</p>
                }
            }
            else
            {
                <p>[Unknown]</p>
            }
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Book.BookId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Book.BookId })
        </td>
    </tr>
}
</table>
